@font-face {
  src: url('../fonts/roboto-regular.woff') format('truetype');
    src: url('../fonts/roboto-regular.woff2') format('truetype');
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

@font-face {
    src: url('../fonts/roboto-bold.woff') format('truetype');
    src: url('../fonts/roboto-bold.woff2') format('truetype');
    font-family: "Roboto";
    font-style: bold;
    font-weight: 700;
}